

footer{
   width: 1200px;
   height: 100px;
   box-sizing: border-box;


  
}
hr{

height: 7px;
   background-color:#0079e4;

}
.footer-top {
   display: flex;
   margin: 0 15px;
   padding: 15px 0;
}

   .menu-list {
      display: flex;
  }
  ol, ul {
      box-sizing: border-box;

  }
  .nav-item{
   margin: 10px;
  }
  ul, ol {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 25px;
   }
   .footer-info {
      display: flex;
      justify-content: space-between;
      width:800px;
      line-height: 1.25em;}

   .s-delivery-address {
      font-size: 14px;
      color: #5a5a5a;
      text-align: center;
  }
  .order-phone {
   font-size: 14px;
   color: #5a5a5a;
   text-align: center;
}
.work-time {
   font-size: 14px;
   color: #5a5a5a;
   text-align: center;
}