
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
p{
   font-size: 44px;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 text-decoration: overline #b5d8f7 5px;
}