
<p>
   <button class="btn  show-form-add" (click)="show()" >
      ДОДАТИ ТОВАР
   </button>

 </p>
 <div [class]="form" >
   <form action="" class="add-form" [formGroup]="productForm" (ngSubmit)="add()">
      <div class="mb-3">  <span>Виберіть категорію</span>
        <select class="form-select" formControlName="category" #categoryElem>
         
           <option [ngValue]="category" *ngFor="let category of adminCategory">{{category.name}}</option>

         </select>
      </div>
        <input type="text" class="name" placeholder="*Назва" formControlName="name" name="name">
        <input type="text" class="title" placeholder="*Інгредієнти" formControlName="ingredients" name="path">
        <input type="text" class="name" placeholder="*Вага" formControlName="weight" name="weight">
        <input type="text" class="name" placeholder="*Ціна" formControlName="price" name="price">
     
        <ng-container *ngIf="!isUploaded">
           <div class="mb-3">
              <input class="form-control" id="formFile" type="file"  (change)="upload($event)">
             </div>
        </ng-container>
        <ng-container *ngIf="isUploaded">
     <img [src]=" valueByControl('imgPath')" alt="">
     <button type="button" class=" btn-danger" (click)="deleteImg()"> ВИДАЛИТИ</button>
        </ng-container>
        
     <button  class="btn-add"  [disabled]="productForm.invalid" type="submit">{{editStatus? 'Зберегти':' Додати'}}</button>
     
     </form>
 </div>
<table>
   <thead>
      <th>№</th>
      <th>Категорія</th>
      <th>Назва</th>
      <th>Інгредієнти</th>
      <th>Вага</th>
      <th>Ціна</th>
      <th>Картинка</th>
      <th>Дії</th>
   </thead>
   <tbody *ngFor="let product of adminProduct; index as i">
      <td>№{{product.id}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.name}}</td>
      <td>{{product.ingredients }} </td>
      <td>{{product.weight}} </td>
      <td>{{product.price}} </td>
      <td><img [src]="product.imgPath" alt=""></td>
      <td><span (click)="edit(product)">РЕДАГУВАТИ </span><br><span (click)="delete(product)"> ВИДАЛИТИ</span></td>
   </tbody>
</table>
