<div class="containerP">
   <ng-container *ngIf="userProduct.length>0">
<div class="blockProduct" *ngFor="let product of userProduct">
   <div class="info">
      <img [src]="product.imgPath" alt="">
      <p class="name">{{product.name}}</p>
      <div class="product">
         <p class="ingrediend">{{product.ingredients}}</p><br>
         <p><strong>{{product.weight}}г</strong></p>
      </div>
      <div class="prise">
        <div> <p><strong>{{product.price}}грн</strong></p></div>
         <div class="count">
            <span>-</span>
            <span>1</span>
            <span>+</span>
         </div>
        <div> <button>Замовити</button></div>
      </div>
   </div>
</div>
   </ng-container>
   
</div>
