.delivery-block{
   margin-top: 60px;
}
.title{
   text-decoration: overline #b5d8f7;
text-align: center;
font-weight: bolder;
}
.zonu{
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
}

.green-zone,.yellow-zone{
   display: flex;
   align-items: center;
   box-sizing: border-box;
   border-right: .5px solid rgba(0, 0, 0, 0.156);
   padding-left: 40px;
}
.yellow-zone{
   border: none;
}
.green-zone img{
   width: 280px;
}
.green-zone h2,.green-zone span{
   color: rgb(79, 183, 79);
}
.yellow-zone h2,.yellow-zone span{
   color: rgb(255, 208, 0);
}
.green-zone span,.yellow-zone span{
   font-weight: bold;
}
.text-block{
   width: 260px;
   text-align: center;
}

.map p,.oplata:nth-last-child(1){
   width: 1000px;
   margin-left: 100px;
}
.oplata:nth-last-child(1){
   margin-bottom: 80px;
}
.oplata h1{
text-align: center;
margin-top:50px;
margin-bottom: 20px;
}

.spocobu-oplatu{
   display: flex;
   justify-content:center;
margin-bottom: 20px;

}
.one{
   border-right: .5px solid rgba(0, 0, 0, 0.192);
   margin-right: 50px;
}
.opata-card{
   display: flex;
   justify-content: space-evenly;
}
.img img{
   width: 70px;
   height: 70px;
   background-color: #b5d8f7;
   padding: 10px;
   border-radius: 8px;
}
.text-block {
   width: 350px;
text-align: left;
margin-left: 20px;
}
.text-block h5{
   font-weight: bolder;
   margin: 25px 0 15px 0;
}